.main-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background-color: $color-default-white;

  overflow: auto;

  &--hidden {
    display: none;
  }
}

.main-loader__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  height: 100vh;
  height: calc(100 * var(--vh, 1vh));
}

.main-loader__logo {
  width: 800px;
  height: 100px;

  animation: $default-transition-settings loader-logo-appearance;
}

.main-loader__message {
  position: absolute;
  left: 50%;
  bottom: 100px;

  margin: 0;
  padding: 0;

  font-family: $font-family--neue-machina;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 22px;
  color: $color-default-black;

  transform: translate(-50%, 0);
  animation: $default-transition-settings loader-message-appearance;

  &--click {
    display: none;
  }
}

@keyframes loader-logo-appearance {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader-message-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include viewport--md {
  .main-loader__wrapper {
    min-height: 1024px;
  }

  .main-loader__logo {
    width: 550px;
    height: 70px;
  }

  .main-loader__message {
    &--enter {
      display: none;
    }

    &--click {
      display: block;
    }
  }
}
